:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  padding: 25px;
}

.searchBarDiv {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar input {
  height: 30px;
  width: 300px;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  padding: 10px;
  padding-left: 20px;
  outline: 0;
  margin-right: 5px;
  background-color: #32353b;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px rgba(143, 148, 160, 0.123) solid;
}



.searchBar button {
  height: 56px;
  width: 56px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px rgba(143, 148, 160, 0.123) solid;
}

.searchBar button span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 16
}

div.taskHeading {
  margin-left: 10px;
  display: flex;
  align-items: center;
  width: 350px;
  gap: 10px;
}

.taskHeading p {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-top: 20px;
  margin-bottom: 15px;
}

.taskLists {
  display: flex;
  gap: 25px;
}

.taskList {
  display: flex;
  flex-direction: column;
}

.taskHeading button {
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.taskHeading button:hover {
  color: rgb(238, 159, 41);
}

.taskHeading .close:hover {
  color: rgb(248, 59, 46);
}

div.editTaskList {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.01);
  display: flex;
  justify-content: center;
  align-items: center;
}


.editTaskList input {
  border: 3px solid #373b41;
  background: 0;
  outline: 0;
  border-radius: 8px;
  padding: 3.2px 20px;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  background-color: #212327;
  width: 220px;
  height: 50px;
  color: rgba(255, 255, 255, 0.87);
  position: relative;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #373b41;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494e55;
}
