button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  outline: #4caf4f00 solid 0px;
  transition: 0.04s;
  color: rgba(255, 255, 255, 0.87);
}

button.newTask {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    outline: #4caf4f00 solid 0px;
    transition: 0.04s;
    height: 45px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button.newTask:hover {
    outline: #ffffffe0 solid 3px;
    transition: 0.04s;
  }
  